
        <div class="top">
            <div class="container">
            <h2>Today's Top Growing Communities</h2>
            <h6>Browse Reddit's top growing communities. Find the top communities in your favorite category.</h6>
        </div>
        </div>
   
<div class="container" >
    <div class="row" >
      
      <div class="col-md-9" >
        
         <h2 style="background-color: #ea0027; margin-bottom:0px; padding: 5px; border-radius: 5px;font-size: 25px;
         font-weight: 500;
         line-height: 25px;
         color: var(--newCommunityTheme-bodyText);">Today's Top Growing Communities</h2>
       <!-- <ul>
          <li *ngFor="let subreddit of subreddits">
              <a routerLink="/view-subreddit/{{subreddit._id}}">{{subreddit.name}}</a>
          </li>
        </ul> -->
        <table class="table" border="2px">
            
            <tbody>
              <tr *ngFor="let subreddit of subreddits;let i=index">
                <th scope="row">{{i+1}}
                </th>
                <td>
                    <span ><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M182.6 137.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"/></svg></span>
                    <span class="subreddit-text" ><span><img class="icon" src="https://styles.redditmedia.com/t5_2qgzy/styles/communityIcon_rvt3zjh1fc551.png"></span> <a class="textinside" href="/view-subreddit/{{subreddit._id}}">{{subreddit.name}}</a></span>
                </td>
                <td><button style="border-radius: 10px;" class="btn btn-sm btn-primary">View</button></td>
              </tr>
              
            </tbody>
          </table>
        
      </div>
      <div class="col-md-3">
        <app-side-bar></app-side-bar>
      </div>
    </div>
  </div>
